@model IEnumerable<Order>

@{ 
    Layout = "_AdminLayout";
}

<table class="table table-bordered">
    <tr>
        <th>Order time</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th colspan="2">Details</th>
        <th></th>
    </tr>
    @foreach (var o in Model)
    {
        <tr style="background-color: #dee2e6;">
            <td>@o.OrderTime</td>  
            <td>@o.CustomerName</td>
            <td>@o.Address</td>
            <td>@o.PhoneNumber</td>  
            <th>Product</th>
            <th>Quantity</th>
            <td>

                @if (o.IsShipped)
                {
                    <span style="color: forestgreen">Is shipped</span>
                    <a asp-action="Delete" class="btn btn-sm btn-outline-danger" asp-route-orderId="@o.OrderId">Delete</a>
                }
                else
                {
                    <a asp-action="MarkShipped" class="btn btn-sm btn-outline-info" asp-route-orderId="@o.OrderId">Ship</a>
                    <a asp-action="Delete" class="btn btn-sm btn-outline-danger" asp-route-orderId="@o.OrderId">Delete</a>
                    <a asp-action="Edit" class="btn btn-sm btn-outline-warning" asp-route-orderId="@o.OrderId">Edit</a>
                }               
            </td>
        </tr>
        @foreach (CartLine line in o.Lines)
        {
            <tr>
                <td colspan="4"></td>
                <td>@line.Product.Name</td>
                <td>@line.Quantity</td>
                <td></td>
            </tr>
        }
    }
</table>
